<!--nav class="navbar navbar-expand-sm customNav ">
    
        <a class="navbar-brand" href="#">Happy Coding</a>
    
    <ul class="nav navbar-nav rightNavbar">
        <li class="nav-item">
            <a class="nav-link" routerLink="./home" (click)="onHome()">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./about"(click)="onAbout()">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./services"(click)="onServices()">Services</a>
        </li>
        <li class="nav-item">   
            <a class="nav-link" routerLink="./portfolio"(click)="onPortfolio()">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./contact"(click)="onContact()">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../signup"(click)="onSignup()">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../signin"(click)="onSignin()">Login</a>
        </li>
    </ul>
</nav-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../../assets/images/happylogo.png" width="200px" height="45px" style="border-radius:10%"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav rightNavbar">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" (click)="onHome()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./about" (click)="onMenuClick()">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./services"(click)="onServices()">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./portfolio"(click)="onPortfolio()">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./contact"(click)="onContact()">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup"(click)="onSignup()">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin"(click)="onSignin()">Login</a>
                </li>
            </ul>
        </div> 
    </div>
</nav>
