
  <div id="about" class="container-fluid textCenter" >
    
      <div class="padTB20">
        <h2 class="whiteText"> We've got what you need!</h2>
        <hr class="aboutHr marTB40">
        <h4>Start Bootstrap has everything you need to get your new website up and running in no time!<br> All of the templates and themes
        on Start Bootstrap are open source, free to download, and<br> easy to use. No strings attached!</h4>
        <button class="btn btn-lg whiteBtn marT20 marB70">GET STARTED!</button>
      </div>
  <!--end row-->
</div><!--end container-->      