
<div id="contact" class="container-fluid textCenter">
  <div  class="col-sm-12 col-lg-12">
    <h2 class="textCenter">Let's Get In Touch</h2><br>
    <hr class="homeHr padB20">
    <div class="marB100">
      <h4 class="textCenter">Ready to start your next project with us? That's great Give us a call or send us an email and we will get back to
        you as soon as possible</h4>
        <div class="col-md-6 col-xs-12">
          <span [@divContact]="state" class="padT50 fa fa-phone faSize"></span>
          <h4>123-456-6789</h4>
        </div>
        <div class="col-md-6 col-xs-12">
          <span [@divContact]="state" class="padT50 fa fa-envelope faSize"></span>
          <h4>feedback@happycoding.com</h4>
        </div>
    </div><!--end marB100-->
      
    </div><!--end row-->
</div><!--end container-->
      