<div  class="container-fluid textCenter noSidePad">
  <div id="portfolio" class="">
    <div class="col-lg-4 col-sm-6 col-xs-12  noSidePad portfolioImages">
      <a class="portfolioImg" href="">
        <img src="../assets/images/port1.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 noSidePad portfolioImages">
      <a class="portfolioImg" href="../../../images/port2.jpg">
        <img src="../assets/images/port2.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 noSidePad portfolioImages">
      <a class="portfolioImg" href="../../../images/port3.jpg">
        <img src="../assets/images/port3.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 noSidePad portfolioImages">
      <a class="portfolioImg" href="../../../images/port4.jpg">
        <img src="../assets/images/port4.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12  noSidePad portfolioImages">
      <a class="portfolioImg" href="../../../images/port5.jpg">
        <img src="../assets/images/port5.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 noSidePad portfolioImages">
      <a class="portfolioImg" href="../../../images/port6.jpg">
        <img src="../assets/images/port6.jpg" class="img-responsive" />
        <span class="displayNone">
          <h3>Category</h3>
          <br>
          <h5>Project Name</h5>
        </span>
      </a>
    </div>
  </div><!--end unique-->

    <!--grey Bg -->
  
    <div id="greyBg">
      <div class="padT20">
        <h2 class="whiteText textCenter" >Free Download at Start Bootstrap!</h2>
        <span class="textCenter">
          <button class="btn btn-lg whiteBtn marTB50 ">Download Now!</button>
        </span>
      </div>
    </div>
  <!--end row-->
</div><!--end container-->