<div id="services" class="container-fluid textCenter  ">
  <h2 class="padB20">At Your Service</h2>
  <hr class="homeHr ">
  <div class="marB100">
    <div class="padT50 ">
      <div class="col-sm-6 col-lg-3 col-xs-12 ">
        <span  [@divState]="state" class="fa fa-diamond faRed"></span>
        <h2>Sturdy Templates</h2>
        <h4 class="para">Our templates are updated regularly so
        they don't break.</h4>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-12 ">
        <span [@divState]="state"  class="fa fa-paper-plane faRed"></span>
        <h2>Ready to Ship</h2>
        <h4 class="para">You can use this theme as is, or you can 
        make changes!</h4>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-12">
        <span [@divState]="state" class="fa fa-newspaper-o faRed"></span>
        <h2>Up to Date </h2>
        <h4 class="para">We update dependencies to keep things
        fresh.</h4>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-12">
        <span [@divState]="state" class="fa fa-heart faRed"></span>
        <h2>Made with Love</h2>
        <h4 class="para">You have to make your websites with love
        these days!
        </h4>
      </div>
    </div><!--end pad50-->
  </div><!--end marB100-->
</div><!--end container-->